@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  @layer components {
    .max-container {
      max-width: 1440px;
      margin: 0 auto;
    }
  
    .input {
      @apply sm:flex-1 max-sm:w-full text-base leading-normal text-gray-400 pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-gray-400 max-sm:rounded-full;
    }
  }
  
  @layer utilities {
    .padding {
      @apply sm:px-16 px-8 sm:py-24 py-12;
    }
  
    .padding-x {
      @apply sm:px-16 px-8;
    }
  
    .padding-y {
      @apply sm:py-24 py-12;
    }
  
    .padding-l {
      @apply sm:pl-16 pl-8;
    }
  
    .padding-r {
      @apply sm:pr-16 pr-8;
    }
  
    .padding-t {
      @apply sm:pt-24 pt-12;
    }
  
    .padding-b {
      @apply sm:pb-24 pb-12;
    }
  
    .info-text {
      @apply text-gray-400 text-lg leading-7;
      /* @apply font-montserrat text-slate-gray text-lg leading-7; */
    }
    .input {
      @apply bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 mt-2.5 font-normal shadow-card;
    }
    .btn {
      @apply text-white bg-gradient-to-r from-[#00c6ff] to-[#0072ff] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center;
    }
  }